*{
    margin:0px;
    padding: 0px;
    font-family: Tahoma;
}
body {
background-color: #cecece;
}
 

#huge_wrapper {
 
}

h1 {
    font-size: 22px;
    font-family: 'Audiowide', cursive;
}

h2 {
    font-size: 18px
}

h5 {
    font-size: 26px;
}
p {
    font-size: 14px;
}

nav ul {
    list-style:none;
    padding-right: 10px;
}

#sub_news {
    font-size: 12px;
}

li {
    list-style: none;
    text-align: justify;
}

a {
    font-size: 12px;
    color: #4376a2;
    text-decoration:none;
}

a:hover {
    color:red;
}

.highlight {
    background-color:#709866;
}
#main_header {
    font-size: 42px;
    font-family: Impact, Charcoal, sans-serif;
}

nav ul li
{
    display:block;
    float:right;
    padding:2px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 9px;
    border: 1px solid black;
    background-color:white;
    font-size: 22px;
    color: #950000;
    font-family: Impact, Charcoal, sans-serif;
}
.left_list{
    margin-right:58px;
}
.right_list{
}
nav ul li {
text-transform: uppercase;
transition: all .25s ease;
    border-radius: 20px;
}


#top_header {
    
    display:-webkit-box;
    box-orient: horizontal;
    -webkit-box-pack: center;
    text-align: center;
    height: 115px;  
    min-width: 1060px;
    width:1060px;
    margin: auto;
    background-color:#eaf4ff;
}
#logo {
    width:180px;
    
}
#group_pic {
    width: 250px;
}
#top_logo {
    min-width: 180px;
    text-align: left;
    padding: 10px;
    padding-top: 12px;
}
#top_group_pic {
    min-width: 250px;
    width: 250px;
    padding: 10px;
    text-align: right;
}
#header_title {
    width: 570px;
    padding: 10px;
    text-align: center;
}

#main_section {
    display:-webkit-box;
    box-orient: horizontal;
    min-width: 1000px;
    width: 1060px;
    -webkit-box-pack: center;
    height: 260px;
    margin:auto;
    background-color:#eaeaea;
    
}

.left_article {
    width: 290px;
    padding: 10px;
    background-color: white;
    margin-right:10px;
    margin-top: 20px;
}

.middle_article {
    min-width: 360px;
    width:360px;
    padding: 10px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.right_article {
    width: 290px;
    padding: 10px;
    background-color: white;
    margin-left: 10px;
    margin-top: 20px;
}



#second_section {
    display:-webkit-box;
    box-orient: horizontal;
    min-width: 980px;
    -webkit-box-pack: center;
    height: 410px;
    margin:auto;
    width: 1060px;
    background-color:#eaeaea;
}

#jl {
    border: 1px solid black;
}

#pp_wrapper {
    display:-webkit-box;
    box-orient: horizontal;
}

#pp {
    padding-top: 3px
}

#ppi {
    padding-left: 10px
    
}
.playerProfiles {
    box-orient: horizontal;
    background-color:#eaeaea;
    display:-webkit-box;
    min-width: 980px;
    -webkit-box-pack: center;
    width: 1060px;
    margin:auto;
}


#playerProfilesLeft {
    width: 490px;
    padding: 10px;
    margin: 10px;
    background-color: white;
   
}

#playerProfilesRight {
    width: 490px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

#footer {
    display:-webkit-box;
    text-align: center;
    min-width: 1000px;
    width: 1000px;
}
footer {
    text-align: center;
    width:1000px;
    margin: auto;
}